.footer-support {
  background: #000000;
  padding: 3rem 2rem 1.5rem;
  font-family: Arial, sans-serif;
  color: #eaeaea;
  height: auto;
}

.FooterSupport-Box {
  width: 90%;
  background-color: #0a0a0afb;
  border: 1px solid #868585;
  padding: 60px 10px;
  border-radius: 24px;
  margin-left: 5%;
}

.footer-support-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.footer-support-left {
  flex: 1;
  min-width: 250px;
}

.footer-support-logo {
  height: 100px;
  width: 220px;
  margin-left: -8%;
}

.footer-support-desc {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #bbb;
  margin-bottom: 1rem;
}

.footer-support-socials {
  display: flex;
  gap: 12px;
}

.footer-support-socials a {
  color: #ccc;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.footer-support-socials a:hover {
  color: #00ff99;
}

.footer-support-links {
  display: flex;
  flex: 2;
  margin-left: 15%;
  gap: 5rem;
  justify-content: space-evenly;
  margin-top: 2%;
  min-width: 300px;
}

.footer-support-links h4 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  color: #fff;
}

.footer-support-links ul {
  list-style: none;
  padding: 0;
}

.footer-support-links ul li {
  margin-bottom: 0.5rem;
}

.footer-support-links ul li a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.3s;
}

.footer-support-links ul li a:hover {
  color: #00ff99;
}

.footer-support-bottom {
  border-top: 1px solid #333;
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1%;
}

.footer-support-bottom p {
  font-size: 1rem;
  margin-top: 2%;
  color: #999;
}

.footer-support-legal {
  display: flex;
  gap: 1.5rem;
  margin-top: 2%;
}

.footer-support-legal a {
  font-size: 0.9rem;
  color: #bbb;
  text-decoration: underline;
  transition: color 0.3s;
}

.footer-support-legal a:hover {
  color: #00ff99;
}
