.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: 1%;
  font-family: "Poppins", sans-serif;
}

.nav-wrapper {
  width: 40%;
  height: 60px;
  background: rgba(0, 0, 0, 0.3); /* more transparent */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 18px;
  padding: 0 20px;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.nav-wrapper a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  letter-spacing: 1.5px;
  padding: 10px 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.nav-wrapper a:hover {
  transform: translateY(-0.5px);
  color: rgb(23, 163, 102);
}

.logo img {
  height: 60px;
  width: auto;
  margin-top: 10%;
  margin-left: -2.5%;
  object-fit: contain;
  cursor: pointer;
}

.Login {
  position: absolute;
  right: 40px;
  top: 20px;
}

.login-btn {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
  border-radius: 15px;
  transition: all 0.3s ease;
  margin-top: -2.5%;
  padding: 15px 30px;
  background: rgba(3, 206, 152, 0.79);
  cursor: pointer;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.login-btn:hover {
  background: rgba(3, 163, 120, 0.79);
  color: black;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-wrapper {
    width: 50%;
  }

  .logo img {
    height: 50px;
    margin-top: 5%;
    margin-left: -5%;
  }

  .nav-wrapper a {
    font-size: 14px;
    padding: 8px 10px;
  }

  .login-btn {
    font-size: 14px;
    padding: 10px 20px;
    margin-top: -1%;
  }
}
